* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  margin: 10% 40%;
}

.designation-container {
  margin-top: -30px;
}

/* .passport {
  border: 2px solid white;
} */
